.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
background-color: #cfe1fe;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* styles.css */
.imagelogo{
  padding-right: 5px;
  margin-right: 5px;
border-right: 3px solid rgb(87, 87, 87);
}
.chat-box {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  height: 100%;
  background-color: #ffffff;
  overflow: auto;
}

.message {
  padding: 2px;
  margin-bottom: 8px;
  word-wrap: break-word;
  overflow: hidden;
}

.user {
  text-align: right;
}


.message-input {
  display: flex;
  align-items: center;
}

.message-input .form-control {
  flex: 1;
  /* Takes remaining space */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat_window {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
margin: 20px;

}

.top_menu {
  background-color: #042739;
  padding: 13px 0px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.top_menu .title {
  text-align: center;
  color:white;
  font-size: 18px;
  margin-left: 10px;
  position: relative;

}

.navbar button{
  position: absolute;
  right: 25px;
  top:50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
  padding: 10px 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.269);
}



/* messages inside the chatbox */
/* ---------------------------------------------------------------------- */

.messages {
  position: relative;
  list-style: none;
  background-color: #d1e6dd;
  width: 100%;
  padding: 20px 10px 0 10px;
  margin: 0;
  padding-bottom: 5px;
  min-height: 200px;
  max-height: 500px;
  /* overflow: scroll; */
  overflow-x: auto;
}

.messages .message {
  clear: both;
  overflow: auto;
  overflow-x:auto;
  margin-bottom: 2px;
  transition: all 0.5s linear;
  opacity: 0;
}

.messages .message .avatar {
  height: 40px;
  width: 40px;
  background-size: cover !important;
  border-radius: 50%;
  display: inline-block;
}

.messages .message .timestamp {
  font-size: 10px;
  font-weight: 300;
  text-align: right;
  margin-top: 2px;
}

.messages .message.appeared {
  opacity: 1;
}

#cards {
  cursor: pointer;
  min-height: xxx;
  overflow: hidden;
  max-width: 435px;
max-height: fit-content;
  transition: ease all 0.2s;
}


.messages .message .text_wrapper {
  display: inline-block;
  padding: 15px;
  /* min-width: 150px; */
  max-width: fit-content;
  overflow-x: scroll;
  position: relative;
}

.card-text {
  font-size: 10px;
}

table{
overflow-x: scroll;
}

.loginbody{
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: url(../public/wall1.png) no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(5px); 
  }
.homeicon{
font-size: 35px;
margin: 5px;
}
.hlink:hover{
/* background-color: blue; */
color: white !important;
}
.hlink{
  position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 55px;
    /* font-weight: 600; */
    padding: 10px 25px;
}

.consoleMenu{
  margin-top: 20px;
  display: flex;
  -webkit-box-align: stretch;
    align-items: stretch;
    gap: 15px;
    padding-bottom: 5px;
    flex-wrap: wrap;
}
.menucontainer{
margin:10px 70px 70px 70px
}
.menucards{
  text-decoration: none;
  margin-top: 20px;
  border: none;
  background-color: #cee0fd;
  color: black;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    transition: box-shadow 0.3s ease-in-out;
    transition: color 0.7s ease-in-out;
  
    &:hover {
      color:#6a6e72;
      box-shadow: 10px 10px 20px #c0c0c0, -10px -10px 20px #ffffff;
    }
  color: black;
}

.chartExport{
  margin-left: 10px;
  height: 450px;
  width: 450px;
}

.activated{
background-color: #cee0fd;
font-weight: 800;
}

.activatedstream{
  text-decoration: none;
  color: white !important;
  font-weight: 800;
  background-color: #0f1117;
}

.viewbox{
  height: 100dvh;
  width: 100%;
}


.menulist{
  position: absolute;
  left:0
}
  .dfTable{
    overflow: auto;
    overflow-x: auto;
  }

  .borderedtable{
    border-collapse: collapse;
      width: 100%;
  }

    .borderedtable th,
    .borderedtable td {
      border: 1px solid #ddd;
      /* Border color */
      padding: 8px;
      /* Padding inside cells */
      text-align: left;
      /* Text alignment in cells */
    }
.end{
position:relative;
left:55%
}
.endtoggle{
position: absolute;
top:50%;
right:20px;
transform: translateY(-50%);
}

.box {
 
  backdrop-filter: blur(20px);
  padding: 30px 40px;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, .2);
  background-color: transparent;
  overflow: hidden;
  color: black;
  
}
.LoginInputBox h1{
  text-align: center;
  font-size: 36px;
}

.logininputholders .i{
  position: absolute;
  right: 20px;
  top: 50%;
  
}
.LoginInputBox{
  width: 420px;
  color: #fff;
  padding: 30px 40px;
  position: relative;
}


.LoginInputBox .logininputholders{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.logininputholders .loginInputs{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ced4da;
  background-color: transparent;
  color: white !important;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}

.loginInputs:focus {
  border-bottom: 2px solid #007bff;
  background-color: transparent;
  color: white  !important;
}
.LoginInputBox button{
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,.1 );
  font-size: 16px;
  font-weight:600;
}

.logininputholders i{
  position: absolute;
  right: 25px;
  top: 50%;
   transform: translateY(-50%);
   font-size: 20px;
}

.form-floating label::after{
  background-color: transparent  !important;
  color: white !important
}
.form-floating label{
  color: white !important;
}


.wave {
  opacity: .4;
  position: absolute;
  top: 130%;
  left: 25%;
  z-index: -1;
  background: #0af;
  width: 800px;
  height: 800px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 8000ms infinite linear;
}

.wave.-three {
  animation: drift 10000ms infinite linear;
}

.wave.-two {
  animation: drift 12000ms infinite linear;
  opacity: .1;
  background: yellow;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}


.messages .message.left .avatar {
  float: left;
  background: url('../public/bot.jpg');
}

.messages .message.left .text_wrapper {
  background-color: #1b313b;
  color:white;
  border-radius: 0px 25px 25px 25px;
  margin-left: 5px;
  float: left;
}


.messages .message.left .timestamp {
  color: #bba387;
}

/* user message */
.chart_image{
  height: 250px;
  width:260px;
}
.messages .message.right .avatar {
  float: right;
  background: url('../public/guy.jpg');
}

.messages .message.right .text_wrapper {
  background-color: #b0d4f3;
  border-radius: 25px 0px 25px 25px;
  margin-right: 5px;
  float: right;
}


.messages .message.right .timestamp {
  color: #1a5770;
}

.text {
  font-size: 20px;
}
.chart{
  height:250px;
  width:260px;
}

/* text inpur from user */

.bottom_wrapper {
  background-color: #6a6e72;
 
  display: flex;
}

.bottom_wrapper .inputholders{
position: relative;
width: 100%;
height: 50px;
/* margin: 30px 0; */
}

.inputholders input {
  padding: 0px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    padding: 20px 75px 20px 20px;
}
.inputholders input:focus{
background-color: transparent;
color: white;
outline: none;
box-shadow: none;
}
.inputholders input::placeholder{
  color: white;
}

.text_border{
  border: 2px solid rgba(255, 255, 255, .2) !important;
}

.app_button_1 {
  width: 140px;
  background-color: #039544;
  border-radius: 50px;
  cursor: pointer;
  padding: 12px;

  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

/* faq section | right side */
/* ---------------------------------------------------------------------- */

.panel-group {
  margin: 20px;
}

.panel-heading [data-toggle='collapse']:after {
  font-family: 'FontAwesome';
  content: '\f054';
  float: right;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.2s linear;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle='collapse'].collapsed:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}


input::placeholder {
  color: white;
  /* Set the placeholder color to your desired color */
}

.inputholders button {
  position:absolute;

  transition: all ease 1s;
   border-radius: 70px;
  right: 20px;
  top:50%;
  transform: translateY(-50%);

  
  
  /* display: none; */
  /* Initially hide the button */
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
