.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
background-color: #cfe1fe;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* styles.css */
.imagelogo{
  padding-right: 5px;
  margin-right: 5px;
border-right: 3px solid rgb(87, 87, 87);
}
.chat-box {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  height: 100%;
  background-color: #ffffff;
  overflow: auto;
}

.message {
  padding: 2px;
  margin-bottom: 8px;
  word-wrap: break-word;
  overflow: hidden;
}

.user {
  text-align: right;
}



/* .inputbox {
  position: sticky;
  bottom: 0;
  width: 100%;
  height:50px;
  background-color: white;
  padding: 10px;
} */
.message-input {
  display: flex;
  align-items: center;
}

.message-input .form-control {
  flex: 1;
  /* Takes remaining space */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat_window {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
margin: 20px;

}

.top_menu {
  background-color: #6a6e73;
  padding: 13px 0px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_menu .title {
  text-align: center;
  color: #21272c;
  font-size: 18px;
  margin-left: 10px;

}

.clearChatButton {
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  color: white;
  background-color: #14212b;
  margin: 5px;
}

.clearChatButton:hover {
  background-color: #00aa89;
}

.countdown-timer {
  font-size: 14px;
  color: #000000;
  margin-right: 10px;
}

/* messages inside the chatbox */
/* ---------------------------------------------------------------------- */

.messages {
  position: relative;
  list-style: none;
  background-color: #d1e6dd;
  width: 100%;
  padding: 20px 10px 0 10px;
  margin: 0;
  padding-bottom: 5px;
  min-height: 200px;
  max-height: 500px;
  overflow: scroll;
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 2px;
  transition: all 0.5s linear;
  opacity: 0;
}

.messages .message .avatar {
  height: 40px;
  width: 40px;
  background-size: cover !important;
  border-radius: 50%;
  display: inline-block;
}

.messages .message .timestamp {
  font-size: 10px;
  font-weight: 300;
  text-align: right;
  margin-top: 2px;
}

.messages .message.appeared {
  opacity: 1;
}

.messages .message .text_wrapper {
  display: inline-block;
  padding: 15px;
  /* min-width: 150px; */
  max-width: 350px;
  position: relative;
}

/* .messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
} */
/* 
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
} */

/* .messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
} */

/* bot message */

.messages .message.left .avatar {
  float: left;
  background: url('../public/bot.jpg');
}

.messages .message.left .text_wrapper {
  background-color: #1b313b;
  color:white;
  border-radius: 0px 25px 25px 25px;
  margin-left: 5px;
  float: left;
}

/* .messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #f3eeca;
} */

.messages .message.left .timestamp {
  color: #bba387;
}

/* user message */
.chart_image{
  height: 250px;
  width:260px;
}
.messages .message.right .avatar {
  float: right;
  background: url('../public/guy.jpg');
}

.messages .message.right .text_wrapper {
  background-color: #b0d4f3;
  border-radius: 25px 0px 25px 25px;
  margin-right: 5px;
  float: right;
}
/* 
.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #b0d4f3;
} */

.messages .message.right .timestamp {
  color: #1a5770;
}

.text {
  font-size: 20px;
}
.chart{
  height:250px;
  width:260px;
}

/* text inpur from user */

.bottom_wrapper {
  background-color: #6a6e72;
  padding: 5px;
  display: flex;
}

.bottom_wrapper #msg_input {
  flex-grow: 1;
  outline-width: 0;
  padding: 5px;
  background-color: #6a6e72;
  border: 1px solid #bcbdc0;
  border-radius: 50px;
}

.app_button_1 {
  width: 140px;
  background-color: #039544;
  border-radius: 50px;
  cursor: pointer;
  padding: 12px;

  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

/* faq section | right side */
/* ---------------------------------------------------------------------- */

.panel-group {
  margin: 20px;
}

.panel-heading [data-toggle='collapse']:after {
  font-family: 'FontAwesome';
  content: '\f054';
  float: right;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.2s linear;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle='collapse'].collapsed:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.inputbox{
border: 1px solid black;
background-color: none;
border-radius: 10px;
padding: 2px;
}

#messageInput {
  padding: 0px;
  background-color: #6a6e72;
  color: white;
  border-radius: 10px;
}

input::placeholder {
  color: white;
  /* Set the placeholder color to your desired color */
}

#sendButton {
  transition: all ease 1s;
   border-radius: 70px;
  right: 0;

  
  
  /* display: none; */
  /* Initially hide the button */
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
